/* Light Theme (Default) */
body,
.input-box {
    color: #2D2E2E;
    background: #E1E6E1;
}

nav,
.answer-number {
    background-color: #246EB9;
}

label.logo,
nav a,
a.active,
.fa-bars,
.button,
.button a {
    color: #2D2E2E;
    border-color: #2D2E2E;
}

nav a:hover {
    background: #1b9bff;
}

.checkbtn {
    color: #E1E6E1;
}

#dub-arrow,
#circle {
    background: #BFC0C0;
}

#choice:hover a {
    color: #2D2E2E;
}

.separator {
    background-image: linear-gradient(to right, transparent, #2D2E2E, transparent);
}

.correct {
    background: #4CB944;
}

.wrong {
    background: #D74E09;
}

.incomplete {
    border-color: #D74E09 !important;
}

.progress {
    background: rgba(0, 0, 0, 0.25);
    -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.25), 0 1px rgba(255, 255, 255, 0.08);
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.25), 0 1px rgba(255, 255, 255, 0.08);
}

.progress-bar {
    background-image: -webkit-linear-gradient(top, rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.05));
    background-image: -moz-linear-gradient(top, rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.05));
    background-image: -o-linear-gradient(top, rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.05));
    background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.05));
    -webkit-box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.25), inset 0 1px rgba(255, 255, 255, 0.1);
    box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.25), inset 0 1px rgba(255, 255, 255, 0.1);
}

.progress>.progress-bar {
    background-color: #f63a0f;
}

@media (max-width: 1000px) {
    ul {
        background: #246EB9;
    }

    a:hover {
        color: #0082e6;
    }
}

/* Leaderboards */
.fa-1 {
    color: #FFD700;
}

.fa-2 {
    color: #C0C0C0;
}

.fa-3 {
    color: #CD7F32;
}


/* Dark Theme */
body.dark-theme {
    color: #E1E6E1;
    background: #2D2E2E;
}

body.dark-theme label.logo,
body.dark-theme nav a,
body.dark-theme a.active,
body.dark-theme .fa-bars,
body.dark-theme .button,
body.dark-theme .button a {
    color: #E1E6E1;
    border-color: #E1E6E1;
}

body.dark-theme .separator {
    background-image: linear-gradient(to right, transparent, #E1E6E1, transparent);
}

body.dark-theme .input-box {
    color: #E1E6E1;
    background: #2D2E2E;
}