/* Light Theme (Default) */
body {
    color: #2D2E2E;
    background: #E1E6E1;
}

nav {
    background-color: #246EB9;
}

label.logo, nav a,
a.active,
.fa-bars,
.button,
.button a {
    color: #2D2E2E;
    border-color: #2D2E2E;
}

nav a:hover {
    background: #1b9bff;
}
  
.checkbtn {
    color: #E1E6E1;
}

#dub-arrow {
    background: #BFC0C0;
}

#choice:hover a {
    color: #2D2E2E;
}

#circle {
    background: #BFC0C0;
}

@media (max-width: 1000px) {
    ul {
      background: #246EB9;
    }
    a:hover {
      color: #0082e6;
    }
  }


/* Dark Theme */
body.dark-theme {
    color: #E1E6E1;
    background: #2D2E2E;
}

body.dark-theme label.logo,
body.dark-theme nav a,
body.dark-theme a.active,
body.dark-theme .fa-bars,
body.dark-theme .button,
body.dark-theme .button a {
    color: #E1E6E1;
    border-color: #E1E6E1;
}
