/* General */
* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

/* Typography */
body {
  font-family: "Courier New", Courier, monospace;
}

h2 {
  font-size: 5rem;
  font-weight: 800;
}

h3 {
  font-size: 4rem;
  font-weight: 600;
}

p {
  font-size: 1.6rem;
  padding: 0 1rem 0 1rem;
}

/* Navigation Menu */
/* Adapted from https://codepen.io/sayem-miaji/pen/poymaxE */

nav {
  display: flex;
  justify-content: space-between;
  height: 8rem;
  width: 100%;
}

nav .mobile-menu {
  z-index: 1;
}

label.logo {
  font-size: 3.5rem;
  line-height: 8rem;
  padding-left: 2rem;
  font-weight: bold;
}

nav ul {
  margin-right: 2rem;
}

nav ul li {
  display: inline-block;
  line-height: 8rem;
  margin: 0 .5em;
}

nav ul li a {
  font-size: 1.7rem;
  padding: .7rem 1.3rem;
  border-radius: .3rem;
  text-transform: uppercase;
}

a.active {
  border-bottom: 0.2rem solid;
}

a:hover {
  cursor: pointer;
  transition: .5s;
}

.checkbtn {
  font-size: 3rem;
  line-height: 8rem;
  margin-right: 4rem;
  cursor: pointer;
  display: none;
}

#check {
  display: none;
}

/* Navigation Menu - Mobile View */
@media (max-width: 1000px) {
  .checkbtn {
    display: block;
  }

  ul {
    position: fixed;
    width: 100%;
    height: 100vh;
    top: 8rem;
    left: -100%;
    text-align: center;
    transition: all .5s;
  }

  nav ul li {
    display: block;
    margin: 5rem 0;
    line-height: 3rem;
  }

  nav ul li a {
    font-size: 2rem;
  }

  a:hover,a.active {
    background: none;
  }

  #check:checked ~ ul {
    left: 0;
  }
}

/* Flexbox CSS */
.vertical {
  height: 100vh;
}

.container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 80rem;
  margin: 0 auto;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.flex-center {
  justify-content: center;
  align-items: center;
}


/* Buttons */
/* Buttons have been adapted from: https://codepen.io/atloomer/pen/JEaRWX */ 
.button {
  display: inline-flex;
  height: 40px;
  width: 150px;
  border: .2rem solid;
  margin: 1rem 1rem 1rem 1rem;
  text-transform: uppercase;
  text-decoration: none;
  font-size: 1rem;
  letter-spacing: 1.5px;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.button span {
  text-decoration: none;
  letter-spacing: 1px;
}

/* Buttons: Choice Buttons */
.choice {
  position: relative;
  overflow: hidden;
  cursor: pointer;
}

.choice span {
  position: relative;
  transition: all .45s ease-Out;
}

#circle {
  width: 0%;
  height: 0%;
  opacity: 0;
  line-height: 40px;
  border-radius: 50%;
  position: absolute;
  transition: all .5s ease-Out;
  top: 20px;
  left: 70px;
}

.choice:hover #circle, .choice.selected #circle {
  width: 200%;
  height: 500%;
  opacity: 1;
  top: -70px;
  left: -70px;
}


/* Buttons: Start Button */
#start{
  position: relative;
  overflow: hidden;
  cursor: pointer;
}

#start a {
  position: relative;
  left: 0;
  transition: all .35s ease-Out;
}

#dub-arrow {
  width: 100%;
  height: 100%;
  left: -200px;
  position: absolute;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all .35s ease-Out;
  bottom: 0;
}

#start img {
  width: 20px;
  height: auto;
}

#start:hover #dub-arrow {
  left: 0;
}

#start:hover a {
  left: 150px;
}

/* Miscellaneous */
.separator {
  border: 0;
  height: 2px; 
}


/* Utilities */
.centered {
  text-align: center;
}

.hidden {
  display: none;
}