/* Typography */
h4 {
    font-size: 3rem;
    font-weight: 500;
    padding-top: 2rem;
}

/* Info Panel & Progress Bar */
.info {
    display: flex;
    margin: 1rem 1rem;
    flex-direction: row;
}

.info>span {
    flex-grow: 1;
}

.info>.info-item {
    flex-grow: 0;
}

.info-item {
    font-size: 2.5rem;
    margin: .5rem;
}

/* Progress Bar */
/* Adapted from: https://codepen.io/Thibaut/pen/ApjaJW */

.progress {
    padding: .4rem;
    margin: 1rem 1rem;
    border-radius: .6rem;
}

.progress-bar {
    height: 1.6rem;
    border-radius: .4rem;
    -webkit-transition: 0.4s linear;
    -moz-transition: 0.4s linear;
    -o-transition: 0.4s linear;
    transition: 0.4s linear;
    -webkit-transition-property: width, background-color;
    -moz-transition-property: width, background-color;
    -o-transition-property: width, background-color;
    transition-property: width, background-color;
}

/* Answers */
.answer {
    display: flex;
    border: .2rem solid;
    margin: 1rem 1rem;
    text-transform: uppercase;
    font-size: 1.6rem;
    letter-spacing: .14rem;
    align-items: stretch;
    justify-content: left;
    overflow: hidden;
}

.answer:hover {
    cursor: pointer;
    transform: translateX(0.5rem);
    transition: transform 300ms;
}

.answer-number {
    padding: 2rem 2.6rem;
    border-right: .2rem solid;
}

.answer-text {
    padding-left: 2rem;
    width: 100%;
}

/* Loader */
/* Adapted from https://cssloaders.github.io/ */
.loader-container {
    height: 80vh;
}

.loader {
    width: 48px;
    height: 48px;
    border-radius: 50%;
    display: inline-block;
    border-top: 4px solid #FFF;
    border-right: 4px solid transparent;
    box-sizing: border-box;
    animation: rotation 1s linear infinite;
}

.loader::after {
    content: '';
    box-sizing: border-box;
    position: absolute;
    left: 0;
    top: 0;
    width: 48px;
    height: 48px;
    border-radius: 50%;
    border-left: 4px solid #FF3D00;
    border-bottom: 4px solid transparent;
    animation: rotation 0.5s linear infinite reverse;
}

@keyframes rotation {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}