h4 {
    font-size: 3rem;
    font-weight: 500;
    padding-top: 2rem;
}

.info {
    display: flex;
    flex-direction: row;
}

.info > span {
    flex-grow: 1;
}

.info > .info-item {
    flex-grow: 0;
}

.info-item {
    font-size: 2.5rem;
    margin: .5rem;
}

.answer {
    display: flex;
    border: .2rem solid;
    margin: 1rem 1rem;
    text-transform: uppercase;
    font-size: 1.6rem;
    letter-spacing: 1.5px;
    align-items: center;
    justify-content: left;
    overflow: hidden;
}

.answer:hover {
    cursor: pointer;
    transform: translateX(0.5rem);
    transition: transform 300ms;
}

.answer-number {
    padding: 2rem 2.6rem;
    border-right: .2rem solid;
}

.answer-text {
    padding-left: 2rem;
    width: 100%;
}
